* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;  
}

.header-wrapper {
    background: transparent;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #ccc;
}

.space {
    font: 14.25px 'nyt-franklin', helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 19px;
    position: absolute;
    top: 7px;
    left: 100px;
    cursor: pointer;
}

.space:hover {
    text-decoration: underline;
}

.new {
    font: 30px 'Charm', cursive;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 0.9px;
    line-height: 20px;
    position: absolute;
    top: 5;
    left: 550px;
    cursor: pointer;
}

.sub-log {
    position: absolute;
    top: 0;
    right: 20px;    
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 11px 12px 8px;
    margin-left: 7px;
    border: 1px solid #326891;
    border-radius: 3px;
    background: #6288A5;
    color: #fff;
    text-transform: uppercase;
    font: 11px 'nyt-franklin', helvetica, arial, sans-serif;
    font-weight: 700;
    cursor: pointer;

}

.smoking-gun {
    width: 960px;
    margin: 40px auto 0;

}

.smoking-gun > h1 {
    max-width: 450.777px;
    display: inline-block;
    font: 40px 'nyt-cheltenham', geogia;
    font-weight: 700;
    font-style: italic;
    margin-left: 200px;
}

.smoking-gun > img {
    width: 945px;
    height: 531.55px;
}

 .fragment {
    position: relative;
    max-width: 600px;
    margin: 10px auto;
} 

.fragment > p {
    font: 20px 'nyt-imperial', georgia, 'times new roman', times, serif;
    color: #333333;
    line-height: 1.6em;
}

.fragment > h4 {
  margin-top: 70px;
  font: 17px 'nyt-imperial', georgia, 'times new roman', times, serif;
  font-weight: bold;
}

#author-name {
  text-decoration: underline #ced1cd;
}

#author-name:hover {
  text-decoration: none;
}
.fragment > h5 {
    position: relative;
    top: 10px;
    left: 0;
}

.fragment > nav {
    position: absolute;
    top: 50px;
    right: 50px;
    
}
 #science {
    max-width: 190px;
    position: absolute;
    top: 360px;
    right: -260px; 
}

#science > h4 {
    font: 18px 'nyt-franklin', helvetica, arial, sans-serif;
    font-weight: bold;
}

#science > p {
    font: 13px 'nyt-franklin', helvetica, arial, sans-serif;
    color: #666666;
    margin-top: -15px;
}

#science button {
    padding: 8px 65px;
    margin-left: 0;
    font: 13px 'nyt-franklin', helvetica, arial, sans-serif;
    font-weight: bold;
}

#free-articles {
    display: block;
    text-align: center;
}

#free-articles > p {
    margin-bottom: 5px;
    color: #333;
    font-size: 17px;
    font-weight: bold;  
}

#bottom-hr {
    margin-top: 20px;
}

hr {
    width: 75px;
}

#create {
    color: #326891;
    font-weight: bold;
    font: 17px;
}
